<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Deter Consulting GmbH | Interim Management</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('/asset/images/favicon.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('/asset/css/bootstrap.min.css') }}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{ asset('/asset/css/animate.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('/asset/css/font-awesome.min.css') }}">
    <!-- cubeportfolio CSS -->
    <link rel="stylesheet" href="{{ asset('/asset/css/cubeportfolio.min.css') }}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('/asset/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('/asset/css/owl.theme.default.css') }}">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/asset/revolution/css/settings.css') }}">

    <!-- Customiser's Stylesheet -->
    <link rel="stylesheet" href="{{ asset('/asset/css/style.css') }}">

    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Interims Management, das wirkt – Deter Consulting">
    <meta property="og:url" content="https://interim.deter-consulting.de/">
    <meta property="og:image" content="https://interim.deter-consulting.de/asset/images/share.jpg">
    <meta property="og:description" content="Nicht irgendein Interimer. Sondern einer, der passt. Führung auf Zeit mit Substanz, Klarheit und Verantwortung.">
    <meta property="business:contact_data:street_address" content="Große Deichstraße 31">
    <meta property="business:contact_data:locality" content="Glückstadt">
    <meta property="business:contact_data:region" content="">
    <meta property="business:contact_data:postal_code" content="25348">
    <meta property="business:contact_data:country_name" content="Germany">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="90">


<!--header start-->
<header id="start">
    <nav class="navbar navbar-top navbar-expand-lg top-center-logo nav-line">
        <div class="container">
            <a href="#start" title="Logo" class="logo scroll"><img src="{{ asset('/asset/images/logo-white.png') }}" class="logo-dark" alt="logo">
                <img src="{{ asset('/asset/images/logo-white.png') }}" alt="logo" class="logo-light default"  >
            </a>
            <div class="side-nav-btn" id="sidemenu_toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="social_icons">
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/deterconsulting.de/" class="facebook_bg_hvr"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a target="_blank" href="mailto:info@deter-consulting.de" class="mail_bg_hvr"><i class="fa fa-envelope" aria-hidden="true"></i></a> </li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/deter-consulting" class="linkdin_bg_hvr"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a target="_blank" href="https://www.instagram.com/deterconsulting/" class="instagram_bg_hvr"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="container">
                <ul class="navbar-nav ml-auto mont-font">
                    <li class="nav-item">
                        <a class="nav-link scroll text-black " href="#unsere-arbeit">Unsere Arbeit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll text-black " href="#ablauf">Ablauf</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mont-font">

                    <li class="nav-item">
                        <a class="nav-link scroll text-black " href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll text-black " href="#kontakt">Kontakt </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- side menu -->
    <div class="side-menu">
        <div class="inner-wrapper">
            <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#start">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#unsere-arbeit">Unsere Arbeit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#ablauf">Ablauf</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll" href="#kontakt">Kontakt</a>
                    </li>
                </ul>
            </nav>

            <div class="side-footer text-white w-100">
                <ul class="social-icons-simple">
                    <li><a target="_blank" href="https://www.facebook.com/deterconsulting.de/" class="facebook_bg_hvr2"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a target="_blank" href="https://www.linkedin.com/company/deter-consulting" class="linkdin_bg_hvr2"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a target="_blank" href="#https://www.instagram.com/deterconsulting/" class="instagram_bg_hvr2"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End side menu -->

</header>
<!--header end-->

<!--slider start-->
<section class="p-0">
    <h2 class="d-none">Display None</h2>
    <div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="deter-consulting" data-source="" style="background:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
        <div id="rev_slider_8_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
            <ul><!-- SLIDE  -->
                <!-- SLIDE 1  -->
                <li data-index="rs-18" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revolution/assets/100x50_59345-slider-bg.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('/asset/images/slider-bg.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-6"
                         data-x="['left','left','left','left']" data-hoffset="['904','1245','1245','1245']"
                         data-y="['top','top','top','top']" data-voffset="['250','99','99','99']"
                         data-width="333"
                         data-height="455"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":80,"speed":1510,"frame":"0","from":"x:right;z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":350,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 5; min-width: 333px; max-width: 333px; max-width: 455px; max-width: 455px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;height:445px;width:331px;display:block;background:#fc2548;"><div></div> </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                         data-x="['left','left','left','left']" data-hoffset="['754','1219','1219','1219']"
                         data-y="['top','top','top','top']" data-voffset="['364','187','187','187']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"

                         data-type="image"
                         data-responsive_offset="on"

                         data-frames='[{"delay":80,"speed":1510,"frame":"0","from":"y:bottom;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":350,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','inherit','inherit','inherit']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 6;"><img src="{{ asset('/asset/images/slider-img2.jpg') }}" alt="" data-ww="['331px','331px','331px','331px']" data-hh="['287px','287px','287px','287px']" data-no-retina> </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['left','center','center','center']" data-hoffset="['7','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['270','200','100','55']"
                         data-fontsize="['60','50','40','40']"
                         data-lineheight="['75','75','75','40']"
                         data-width="['556','556','556','300']"
                         data-height="['none','none','none','87']"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":100,"split":"no","splitdelay":0.1,"speed":1500,"split_direction":"farward","frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:20px;","color":"rgba(0,0,0,0)","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":350,"frame":"999","color":"transparent","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 7; min-width: 556px; max-width: 556px; white-space: nowrap; font-size: 60px; line-height: 75px; font-weight: 700; color: #000000; letter-spacing: 0px;font-family:Montserrat;"><span>Führung auf Zeit.</span></div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme"
                         data-x="['left','center','center','center']" data-hoffset="['8','0','0','0']"
                         data-y="['top','middle','middle','middle']" data-voffset="['460','95','0','10']"
                         data-whitespace="normal"
                         data-width="['656','650','550','440']"
                         data-fontsize="['15','15','15','15']"
                         data-lineheight="['22','22','22','22']"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":100,"speed":1480,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":350,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 8; min-width: 646px; max-width: 646px; white-space: nowrap; font-size: 15px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 0px;font-family:Montserrat;">Wenn Führungskräfte fehlen oder Veränderungen ins Stocken geraten, übernehmen wir als Interim Manager – mit klarem Fokus, Tempo und Erfahrung.
                    </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption NotGeneric-Title tp-resizeme font-weight-100 text-white"
                         data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['170','200','90','120']"
                         data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                         data-textAlign="['center','center','center','center']"
                         style="z-index:99;">
                        <a href="#kontakt" class="btn slider-btn1 hvr-shutter-out-horizontal-blk">Kontakt aufnehmen</a>
                    </div>

                    <!-- LAYER NR. 13 -->
                    <div class="tp-caption   tp-resizeme"
                         data-x="['left','center','center','center']" data-hoffset="['7','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['348','260','155','98']"
                         data-fontsize="['60','50','40','40']"
                         data-lineheight="['75','75','45','43']"
                         data-width="['556','556','556','300']"
                         data-height="['none','none','none','87']"
                         data-whitespace="nowrap"

                         data-type="text"
                         data-responsive_offset="on"

                         data-frames='[{"delay":100,"split":"chars","splitdelay":0.1,"speed":1480,"split_direction":"random","frame":"0","from":"y:50px;sX:1;sY:1;opacity:0;fb:20px;","color":"rgba(0,0,0,0)","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":350,"frame":"999","color":"transparent","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-textAlign="['inherit','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"

                         style="z-index: 17; min-width: 556px; max-width: 556px; white-space: nowrap; font-size: 60px; line-height: 75px; font-weight: 700; color: #000000; letter-spacing: 0px;font-family:Montserrat;">Wirkung mit Substanz.</div>
                </li>
            </ul>
            <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
    </div>
    <!-- END REVOLUTION SLIDER -->

</section>
<!--slider end-->

<!--About start-->
<section class="about" id="unsere-arbeit">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-5 wow fadeInLeft">
                <div class="rare-box"></div>
                <img src="{{ asset('/asset/images/image1.jpg') }}" class="image position-relative w-100" alt="">
            </div>
            <div class="col-lg-6 pl-6">
                <h5 class="pb-2 wow fadeInUp" data-wow-delay="300ms">Führung, wenn es darauf ankommt.</h5>
                <h2 class=" wow fadeInUp" data-wow-delay="400ms">Wenn <span class="gradient">Klarheit</span> fehlt, beginnt unsere Arbeit</h2>
                <p class="pt-2 wow fadeInUp" data-wow-delay="500ms">Veränderung, Wachstum, neue Herausforderungen – das alles bringt Chancen, aber eben auch Reibung. Wenn Strukturen wanken oder Führung temporär fehlt, geraten Projekte aus dem Takt, Teams verlieren Fokus und Potenzial bleibt ungenutzt.
                </p><p class="pt-2 wow fadeInUp" data-wow-delay="500ms">
                    Genau hier kommen wir ins Spiel: Als Interim Manager bringen wir Klarheit, Struktur und Wirksamkeit dorthin, wo gerade noch Unsicherheit herrschte. Schnell, fokussiert und auf Augenhöhe.</p>
                <ul class="pl-0 wow fadeInUp" data-wow-delay="600ms">
                    <li>Sofort bereit: Keine lange Einarbeitung, keine Übergangsphase.</li>
                    <li>Führung übernehmen: Wir geben Richtung, Tempo und Halt.</li>
                    <li>Stabilisieren & voranbringen: Wir schaffen Struktur.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--About end-->

<!--Counter start-->
<section class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow fadeInLeft">
                <h3 class="">Zahlen, die Wirkung zeigen.</h3>
                <span class="hr-line"></span>
                <p class="pt-3">Seit 2022 Jahren übernehmen wir Verantwortung in kritischen Phasen – mit messbarem Effekt für Unternehmen im Wandel.</p>
            </div>
            <div class="col-md-7 text-center wow fadeInRight">
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-block">
                            <div class="icon">
                                <i class="fa fa-smile-o gradient"></i>
                            </div>
                            <div class="counters mt-4">
                                <h3><span class="count_nums" data-to="625" data-speed="2500">625</span><i class="fa fa-plus"></i></h3>
                            </div>
                            <p>Einsatztage</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-block">
                            <div class="icon">
                                <i class="fa fa-check-square-o gradient"></i>
                            </div>
                            <div class="counters mt-4">
                                <h3><span class="count_nums" data-to="6500" data-speed="2500">6500</span><i class="fa fa-plus"></i></h3>
                            </div>
                            <p>Mitarbeiter betreut</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-block">
                            <div class="icon">
                                <i class="fa fa-laptop gradient"></i>
                            </div>
                            <div class="counters mt-4">
                                <h3><span class="count_nums" data-to="45" data-speed="2500">45</span><i class="fa fa-plus"></i></h3>
                            </div>
                            <p>Projekte neu ausgerichtet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Counter end-->

<!--Feature start-->
<!--Feature start-->
<section id="feature" class="feature circle-bg">
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h2 class="wow fadeInUp text-capitalize" data-wow-delay="300">Wirkung braucht <span class="gradient">Werkzeuge</span> – hier sind unsere.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="500">
                    <i class="fa fa-briefcase gradient" aria-hidden="true"></i>
                    <h5 class="mt-4">Operative Führung</h5>
                    <p class="mt-3">Wir übernehmen Verantwortung in Linien- oder Projektrollen – schnell, direkt, wirksam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="400">
                    <i class="fa fa-line-chart gradient"></i>
                    <h5 class="mt-4">Skalierung & Struktur</h5>
                    <p class="mt-3">Wir schaffen Prozesse, die mit deinem Wachstum Schritt halten – effizient und stabil.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="500">
                    <i class="fa fa-rotate-right gradient"></i>
                    <h5 class="mt-4">Transformation & Change</h5>
                    <p class="mt-3">Wir begleiten Teams und Organisationen durch Umbrüche – mit Klarheit und Haltung.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="500">
                    <i class="fa fa-warning gradient"></i>
                    <h5 class="mt-4">Projekt-Stabilisierung</h5>
                    <p class="mt-3">Wenn es klemmt, bringen wir Fokus, Prioritäten und Umsetzung zurück ins Projekt.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="500">
                    <i class="fa fa-users gradient"></i>
                    <h5 class="mt-4">Teamentwicklung</h5>
                    <p class="mt-3">Wir stärken Teams in Phasen der Unsicherheit – durch Führung, Struktur und Vertrauen.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box text-center shadow wow fadeInUp" data-wow-delay="500">
                    <i class="fa fa-location-arrow gradient"></i>
                    <h5 class="mt-4">Strategische Ausrichtung</h5>
                    <p class="mt-3">Wir helfen, den Kurs zu schärfen – und machen ihn sofort umsetzbar im Tagesgeschäft.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature end-->
<section class="team" id="we">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-6">
                <h2 class=" wow fadeInUp" data-wow-delay="400ms">Nicht irgendein Interimer. Sondern <span class="gradient">einer, der passt.</span></h2>
                <p class="pt-2 wow fadeInUp" data-wow-delay="500ms">
                    Es gibt viele Interim Manager. Einige sind stark in der Technik, andere glänzen mit Methoden oder Prozessen. Was uns unterscheidet, ist die Kombination aus technischer Tiefe, psychologischem Verständnis und echter Umsetzungsstärke.
                </p>
                <p class="pt-2 wow fadeInUp" data-wow-delay="500ms">
                    Wir steigen dort ein, wo andere noch analysieren. Wir übernehmen Verantwortung – nicht nur beratend, sondern operativ. Als Teil des Teams, mit Blick von außen.  Ob als CTO, COO oder Projektverantwortlicher auf Zeit: Wir führen durch komplexe Phasen, stabilisieren Strukturen und sorgen dafür, dass Projekte wieder ins Laufen kommen – mit einem klaren Fokus auf Wirkung, nicht auf Show.
                <p class="pt-2 wow fadeInUp" data-wow-delay="500ms">
                    Wir glauben: Interim Management ist kein Notnagel, sondern ein strategisches Instrument – wenn es richtig gemacht wird. Und genau dafür stehen wir.
                </p>
            </div>
            <div class="col-lg-6 pr-5 wow fadeInLeft">
                <div class="rare-box"></div>
                <img src="{{ asset('/asset/images/image2.jpg') }}" class="image position-relative w-100" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 pl-6">
                <p class="pb-2 wow fadeInUp"> <b data-wow-delay="500ms">Unsere Stärken auf den Punkt gebracht</b></p>
                <ul class=" wow fadeInUp" data-wow-delay="600ms">
                    <li><b>Technisch tief, menschlich klar:</b> Wir verbinden IT-Expertise mit psychologischem Know-how.</li>
                    <li><b>Keine Umwege:</b> Du arbeitest direkt mit dem Entscheider – ohne Overhead, ohne Berater-Zirkus.</li>
                    <li><b>Flexibel & schnell:</b> Wir sind in Tagen startklar – nicht in Monaten.</li>
                    <li><b>Verantwortung, nicht nur Beratung:</b> Wir übernehmen Rollen – nicht nur Meetings</li>
                    <li><b>Langfristig gedacht:</b> Auch wenn wir nur auf Zeit da sind – unsere Wirkung bleibt.</li>
                </ul>
            </div>
            <div class="col-lg-6 pr-5 wow fadeInLeft">
                <p class="pb-2 wow fadeInUp"> <b data-wow-delay="500ms">Unsere Stärken auf den Punkt gebracht</b></p>
                <ul class="certifications wow fadeInUp" data-wow-delay="600ms">
                    <li>Psychologie (B.Sc.)</li>
                    <li>Certified Project Management (IPMA® Level D)</li>
                    <li>SCRUM Master (PSM II)</li>
                    <li>Fachkraft für Change Management (IHK)</li>
                    <li>Fachkraft für agile Führung (IHK)</li>
                    <li>Ausbilder nach AEVO</li>
                    <li>Fachkraft für People & Culture</li>
                    <li>und viele mehr...</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Parallax-->
<section class="parallax-bg parallax-bg-img parallaxie position-relative" id="m-parallax" >
    <div class="bg-overlay bg-white opacity-2"></div>
    <div class="container text-center center-block">
        <div class="row">
            <div class="col-md">
                <div class="text-left mb-4"> <i class="fa fa-quote-left text-left mb-4"></i> </div>
                <h2 class="m-auto">Entweder werde ich einen Weg <span class="gradient">finden</span> oder einen <span class="gradient">bauen</span>.</h2>
                <div class="text-right mt-4"> <i class="fa fa-quote-right text-right"></i> </div>
                <h4 class="gradient mt-4">Hannibal Barkas</h4>
            </div>
        </div>
    </div>
</section>
<!--Parallax Ends-->

<section class="ablauf pb-0" id="ablauf">

    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <h2 class="wow fadeInUp text-capitalize" data-wow-delay="300" style="visibility: visible; animation-name: fadeInUp;">Klarer Prozess. Klare <span class="gradient">Wirkung</span>.</h2>
            </div>
        </div>
        <div class="row align-items-top mt-50">
            <div class="col-lg-6">
                <div class="img-hvr wow fadeInUp" data-wow-delay="300">
                    <img src="{{ asset('/asset/images/step1.jpg') }}" class="mw-100" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3 class="wow fadeInUp" data-wow-delay="300">Verstehen, worum es wirklich geht.</h3>
                    <p class="mt-4 wow fadeInUp" data-wow-delay="400"> In einem Erstgespräch geht es nicht um Verkaufsrhetorik, sondern um Klarheit. Wir analysieren gemeinsam die Ausgangslage, verstehen Ziele, Rahmenbedingungen und Herausforderungen – und prüfen, ob ein Interim-Einsatz wirklich der richtige Weg ist. Offen, ehrlich, direkt.</p>
                    <a class="btn custom-btn1 hvr-shutter-out-horizontal-blk mt-3 wow fadeInUp" data-wow-delay="500" href="#kontakt">Jetzt Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
        <div class="row align-items-top mt-50">
            <div class="col-lg-6  order-lg-1">
                <div class="img-hvr wow fadeInUp" data-wow-delay="300">
                    <img src="{{ asset('/asset/images/step2.jpg') }}" class="mw-100" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3 class="wow fadeInUp" data-wow-delay="300">Wir steigen ein – nicht erst in Wochen, sondern in Tagen.</h3>
                    <p class="mt-4 wow fadeInUp" data-wow-delay="400"> Nach der Entscheidung geht es schnell: Wir definieren Rolle, Zielbild und Einstieg – und übernehmen Verantwortung im operativen Alltag. Ob als Teil des Managements, als Projektverantwortliche oder in der Linienfunktion: Wir wirken nicht neben dem System, sondern mittendrin – mit vollem Fokus.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-top mt-50">
            <div class="col-lg-6">
                <div class="img-hvr wow fadeInUp" data-wow-delay="300">
                    <img src="{{ asset('/asset/images/step3.jpg') }}" class="mw-100" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3 class="wow fadeInUp" data-wow-delay="300">Wir sind Teil des Systems – mit Blick von außen.</h3>
                    <p class="mt-4 wow fadeInUp" data-wow-delay="400"> Wir geben Orientierung, schaffen Struktur und sorgen für Umsetzungsstärke. Dabei führen wir Teams, moderieren Spannungen, setzen Prioritäten und sichern Ergebnisse ab. Unser Anspruch: Wirkung entfalten – pragmatisch, effizient, ohne Umwege.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-top mt-50">
            <div class="col-lg-6  order-lg-1">
                <div class="img-hvr wow fadeInUp" data-wow-delay="300">
                    <img src="{{ asset('/asset/images/step4.jpg') }}" class="mw-100" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3 class="wow fadeInUp" data-wow-delay="300">Wirkung, die bleibt – auch wenn wir gehen.</h3>
                    <p class="mt-4 wow fadeInUp" data-wow-delay="400"> Zum Abschluss übergeben wir strukturiert: an interne Führungskräfte, Projektverantwortliche oder Teams. Dabei sorgen wir für Wissenstransfer, begleiten Übergänge und coachen bei Bedarf. Unser Ziel: nachhaltige Wirkung, kein Vakuum nach dem Exit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Clients Starts -->
<section>
    <h2 class="d-none">Display none</h2>
    <div class="container">
        <div class="brand-carousel bottom50 owl-carousel owl-theme">
            {% for customer in customers %}
                <div class="item" style="height: 50px">
                    <img src="{{ customer.logo.file.url }}" alt="{{ customer.customerName }}" style="max-height: 50px; width: auto;">
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- Clients ends -->
<!-- Blog Start -->
<section class="blog pb-5" id="blog">
    <div class="container">
        {% for post in blogPosts %}
        <div class="row align-items-center pb-5">
            <div class="col-lg-6 {% if loop.index % 2 == 0 %}order-lg-1{% endif %}">
                <div class="img-hvr">
                    <img src="{{ post.image.file.url }}?w=540" class="mw-100" alt="">
                    <div class="date">
                        <h5>{{ post.date | date("d") }}</h5>
                        <h5>{{ post.date | date("m") }}</h5>
                        <h5>{{ post.date | date("Y") }}</h5>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="blog-content">
                    <h3 class="wow fadeInUp" data-wow-delay="300">{{ post.title }}</h3>
                    <p class="mt-4 wow fadeInUp" data-wow-delay="400"> {{ post.content | contentfulRichText | raw }}...</p>
                    <a class="btn custom-btn1 hvr-shutter-out-horizontal-blk mt-3 wow fadeInUp" data-wow-delay="500"  href="https://www.deter-consulting.de/blog/{{ post.slug }}" target="_blank">Mehr lesen</a>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
</section>
<!-- Blog End -->


<!-- address Start -->
<section class="address" id="kontakt">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 order-lg-1 ">
                <div class="address-box wow fadeInUp" data-wow-delay="300">
                    <h5 class="pb-2">Nimm jetzt Kontakt zu uns auf</h5>
                    <h2 class="text-capitalize">Deter Consulting GmbH</h2>
                    <p class="pt-3">Große Deichstraße 31</p><p class=" pb-4">25348 Glückstadt</p>
                    <p>Telefon: +49 4124 899 86 99</p>
                    <p>Email : info@deter-consulting.de</p>
                    <p class="pb-4">Mo - Fr: 09:00 - 17:00 Uhr</p>
                    <ul>
                        <li><a href="https://www.facebook.com/deterconsulting.de/" target="_blank" class="facebook_bg_hvr2"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                        <li><a href="https://www.linkedin.com/company/deter-consulting" target="_blank" class="linkdin_bg_hvr2"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                        <li><a href="https://www.instagram.com/deterconsulting/" target="_blank" class="instagram_bg_hvr2"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 order-lg-0 wow fadeInUp">
                <!--Location Map here-->
                <div id="map-container"></div>
                <!-- ends map -->
            </div>
        </div>
    </div>
</section>
<!-- address end -->

<!-- Contact Start -->
<section class="contact-form circle-bg2 wow fadeInUp" data-wow-delay="300">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h5 class="pb-2">Oder direkt schreiben</h5>
                <h2 class="text-capitalize">Kontaktformular</h2>
            </div>
        </div>
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {% if formSuccess %}
                    <div class="alert alert-success" role="alert">
                        Deine Nachricht wurde erfolgreich gesendet!
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.companyName) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.contactPerson) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.phone) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="message">
                        <div class="form-group">
                            {{ form_widget(form.message) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-50 checkbox-row">
                <div class="col-md-6 order-md-1">
                    <label class="check-container">Ich habe die <a href="https://www.deter-consulting.de/datenschutz" target="_blank">Datenschutzerklärung</a> gelesen und akzeptiere sie.
                        <input type="checkbox" name="{{ field_name(form.dsgvo) }}">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6 order-md-0">
                    <button type="submit" class="btn custom-btn1 hvr-shutter-out-horizontal-blk w-100">Anfrage senden</button>
                </div>
            </div>
            {{ form_end(form) }}
    </div>
</section>
<!-- Contact end -->

<!-- Footer Start -->
<footer>
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300">
            <div class="col-md">
                <div class="footer_social_icons">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/deterconsulting.de/" class="facebook_bg_hvr"><i class="fa fa-facebook"></i></a> </li>
                        <!--<li><a href="#." class="twitter_bg_hvr"><i class="fa fa-twitter"></i></a> </li>-->
                        <li><a target="_blank" href="https://www.linkedin.com/company/deter-consulting" class="linkdin_bg_hvr"><i class="fa fa-linkedin"></i></a> </li>
                        <li><a target="_blank" href="https://www.instagram.com/deterconsulting/" class="instagram_bg_hvr"><i class="fa fa-instagram"></i></a> </li>
                        <li><a target="_blank" href="mailto:info@deter-consulting.de" class="mail_bg_hvr"><i class="fa fa-envelope-o"></i></a> </li>
                    </ul>
                    <p class="text-center text-muted"><a href="https://www.deter-consulting.de/agb" target="_blank" class="text-muted mr-2 ml-2">AGB</a> | <a href="https://www.deter-consulting.de/datenschutz" target="_blank" class="text-muted mr-2 ml-2">Datenschutz</a> | <a href="https://www.deter-consulting.de/impressum" target="_blank" class="text-muted mr-2 ml-2">Impressum</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->



<!-- Optional JavaScript -->
<script src="{{ asset('/asset/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('/asset/js/popper.min.js') }}"></script>
<script src="{{ asset('/asset/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/asset/js/jquery.appear.js') }}"></script>

<!-- Parallaxie JS -->
<script src="{{ asset('/asset/js/parallaxie.js') }}"></script>
<!-- Cubeportfolio JS -->
<script src="{{ asset('/asset/js/jquery.cubeportfolio.min.js') }}"></script>
<!-- OWL Carousel JS -->
<script src="{{ asset('/asset/js/owl.carousel.js') }}"></script>
<!-- CountTo JS for counters -->
<script src="{{ asset('/asset/js/jquery-countTo.js') }}"></script>
<!-- WOW JS -->
<script src="{{ asset('/asset/js/wow.min.js') }}"></script>

<!-- REVOLUTION JS FILES -->
<script src="{{ asset('/asset/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.carousel.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script src="{{ asset('/asset/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>

<!-- Map -->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyA9oi3OBjDqFUX4pDFEUGAmzSvFEFX6FM8"></script>
<script src="{{ asset('/asset/js/map.js') }}"></script>
<!-- Custom JS -->
<script src="{{ asset('/asset/js/main.js') }}"></script>
</body>
</html>
