<p>Hallo {{contactPerson}},</p>
<p>vielen Dank für deine Nachricht und dein Vertrauen in Deter Consulting.<br/>
    Wir haben deine Anfrage erhalten und schauen sie uns zeitnah an – in der Regel melden wir uns innerhalb von 24 Stunden bei dir zurück.
</p>
<p>
    Wenn du schon vorab weitere Informationen teilen möchtest oder Fragen hast, erreichst du uns jederzeit direkt per E-Mail an <a href="mailto:info@deter-consulting.de">info@deter-consulting.de</a> oder telefonisch unter +49 4124 899 86 99.
</p>
<p>
    Die folgenden Informationen würden uns Übermittelt:<br>
    <b>Firma</b>: {{companyName}}<br>
    <b>Kontaktperson</b>: {{contactPerson}}<br>
    <b>E-Mail</b>: {{email}}<br>
    <b>Telefon</b>: {{phone}}<br>
    <b>Deine Herausforderung</b>:<br> {{message}}<br>
</p>

<table cellpadding="0" cellspacing="0" border="0"
       style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0"
                   style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                <tbody>
                <tr>
                    <td style="vertical-align: top;">
                        <table cellpadding="0" cellspacing="0" border="0"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><img src="https://cdn.deter-consulting.de/mdeter.png"
                                                                     role="presentation" width="130"
                                                                     style="max-width: 128px; display: block;"></td>
                            </tr>
                            <tr>
                                <td height="30" aria-label="Horizontal Spacer"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center;"><img
                                        src="https://interim.deter-consulting.de/assets/images/logo-white.png"
                                        role="presentation" width="130" style="max-width: 130px; display: block;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="46" aria-label="Vertical Spacer">
                        <div style="width: 46px;"></div>
                    </td>
                    <td style="padding: 0px; vertical-align: middle;"><h2
                            style="margin: 0px; font-size: 18px; font-family: Arial; color: rgb(0, 0, 0); font-weight: 600;">
                            <span>Max</span><span>&nbsp;</span><span>Deter</span></h2>
                        <p style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;"><span>Geschäftsführung</span>
                        </p>
                        <div
                            style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                            <span>Deter Consulting GmbH</span></div>
                        <table cellpadding="0" cellspacing="0" border="0"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
                            <tbody>
                            <tr>
                                <td height="30" aria-label="Horizontal Spacer"></td>
                            </tr>
                            <tr>
                                <td width="auto" aria-label="Divider"
                                    style="width: 100%; height: 1px; border-bottom: 1px solid rgb(23, 23, 23); border-left: none; display: block;"></td>
                            </tr>
                            <tr>
                                <td height="30" aria-label="Horizontal Spacer"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr style="vertical-align: middle; height: 25px;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span
                                                    style="display: inline-block; background-color: rgb(23, 23, 23);"><img
                                                        src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                                        alt="mobilePhone" width="13"
                                                        style="display: block; background-color: rgb(23, 23, 23);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="tel:+49 4124 899 86 99"
                                                                                  style="text-decoration: none; color: rgb(0, 0, 0); font-size: 14px;"><span>+49 4124 899 86 99</span></a>
                                    | <a href="tel:+49 4124 899 86 98"
                                         style="text-decoration: none; color: rgb(0, 0, 0); font-size: 14px;"><span>+49 4124 899 86 98</span></a>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle; height: 25px;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span
                                                    style="display: inline-block; background-color: rgb(23, 23, 23);"><img
                                                        src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                                        alt="emailAddress" width="13"
                                                        style="display: block; background-color: rgb(23, 23, 23);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="mailto:max@deter-consulting.de"
                                                                                  style="text-decoration: none; color: rgb(0, 0, 0); font-size: 14px;"><span>max@deter-consulting.de</span></a>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle; height: 25px;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span
                                                    style="display: inline-block; background-color: rgb(23, 23, 23);"><img
                                                        src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                                        alt="website" width="13"
                                                        style="display: block; background-color: rgb(23, 23, 23);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="//www.deter-consultng.de"
                                                                                  style="text-decoration: none; color: rgb(0, 0, 0); font-size: 14px;"><span>www.deter-consultng.de</span></a>
                                </td>
                            </tr>
                            <tr style="vertical-align: middle; height: 25px;">
                                <td width="30" style="vertical-align: middle;">
                                    <table cellpadding="0" cellspacing="0" border="0"
                                           style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                        <tbody>
                                        <tr>
                                            <td style="vertical-align: bottom;"><span
                                                    style="display: inline-block; background-color: rgb(23, 23, 23);"><img
                                                        src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png"
                                                        alt="address" width="13"
                                                        style="display: block; background-color: rgb(23, 23, 23);"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding: 0px; color: rgb(0, 0, 0);"><span
                                        style="font-size: 14px; color: rgb(0, 0, 0);"><span>Große Deichstraße 31, 25348 Glückstadt</span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0"
                               style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                            <tbody>
                            <tr>
                                <td height="30" aria-label="Horizontal Spacer"></td>
                            </tr>
                            </tbody>
                        </table>

                    <td colspan="3" style="max-width: 300px; font-size: 12px; padding-top: 1rem;">
                        <div class="legal-content"><p style="font-size: inherit; margin: 0px;"></p>
                            <p style="font-size: inherit; margin: 0px;"></p>
                            <p style="font-size: inherit; margin: 0px;"></p></div>
                    </td>
        </td>
    </tr>
    </tbody>
</table></td></tr></tbody></table>
